@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('~/assets/fonts/SpaceMono-Regular.woff2') format('woff2'),
    url('~/assets/fonts/SpaceMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 400;
  src:
    local(''),
    url('~/assets/fonts/SpaceMono-BoldItalic.woff2') format('woff2'),
    url('~/assets/fonts/SpaceMono-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src:
    local(''),
    url('~/assets/fonts/SpaceMono-Bold.woff2') format('woff2'),
    url('~/assets/fonts/SpaceMono-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 700;
  src:
    local(''),
    url('~/assets/fonts/SpaceMono-BoldItalic.woff2') format('woff2'),
    url('~/assets/fonts/SpaceMono-BoldItalic.woff') format('woff');
}
